.level {
  box-shadow: 0;
  transition: .35s box-shadow;

  &-1 {
    box-shadow: 0 0 2px 1px $gray-light;
    transition: .35s box-shadow;
  }

  &-2 {
    box-shadow: 0 0 4px 1px $gray-light;
    transition: .35s box-shadow;
  }

  &-3 {
    box-shadow: 0 0 6px 1px $gray-light;
    transition: .35s box-shadow;
  }

  &-4 {
    box-shadow: 0 0 8px 1.5px $gray-light;
    transition: .35s box-shadow;
  }

  &-5 {
    box-shadow: 0 0 10px 2px $gray-light;
    transition: .35s box-shadow;
  }
}

/// level-up animation
/// @name level-up
/// @group animations
/// @require {variable} $gray-light
@keyframes level-up {
  from {
    box-shadow: 0 0 2px 1px $gray-light;
  }

  to {
    box-shadow: 0 0 10px 2px $gray-light;
  }
}

/// level-up mixin
/// @name level-up
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {variable} $gray-light
/// @example
///    @include level-up();
///    @include level-up(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .level-up
@mixin level-up($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: level-up;
  animation-timing-function: ease-in;
}


/// levelDown animation
/// @name level-down
/// @group animations
/// @require {variable} $gray-light
@keyframes level-down {
  from {
    box-shadow: 0 0 10px 2px $gray-light;
  }

  to {
    box-shadow: 0 0 2px 1px $gray-light;
  }
}

/// level-down mixin
/// @name level-down
/// @group animations
/// @parameter {Time} $speedInSeconds [.35s] - The speed you want the animation to run in.
/// @require {variable} $gray-light
/// @example
///    @include level-down();
///    @include level-down(2s);
///
///    // You can even add the class to an element or toggle it with JavaScript.
///    .level-down
@mixin level-down($speed-in-seconds: .35s) {
  animation-duration: $speed-in-seconds;
  animation-name: level-down;
  animation-timing-function: ease-in;
}


.level-up {
  @include level-up();
  box-shadow: 0 0 10px 2px $gray-light;
}

.level-down {
  @include level-down();
  box-shadow: 0 0 2px 1px $gray-light;
}
