////
/// Table Elements
/// @group tabel
/// @author Mark Scripter - mscripter@horizontalintegration.com

caption {}

col {}

colgroup {}

table {
  border: 1px solid $black;
  box-sizing: border-box;
  width: 100%;
}

tbody {}

td {
  border: 1px solid $gray;
  box-sizing: border-box;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

tfoot {}

th {
  border: 1px solid $black;
  box-sizing: border-box;
  background-color: $gray-lighter;
  color: $black;
  padding: $padding-vertical--small $padding-horizontal--small;
  text-align: left;
}

thead {}

tr {}
