////
/// Breakpoint size variables & definitions.
/// @group Breakpoints
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// Extra Small
/// @type ScreenSize
$screen-xs:  480px;

/// Small
/// @type ScreenSize
$screen-sm:  768px;

/// Medium
/// @type ScreenSize
$screen-md:  992px;

/// Large
/// @type ScreenSize
$screen-lg:  1200px;
