////
/// Color variables & definitions.
/// @group Colors
/// @author Mark Scripter - mscripter@horizontalintegration.com

/// White
/// @type Color
$white:            #fff;

.white {
  color: $white;
}

.bkgd-white {
  background-color: $white;
}

/// Black
/// @type Color
$black:            #000;

.black {
  color: $black;
}

.bkgd-black {
  background-color: $black;
}

// Gray
/// @type Color
$gray:             #808080;

.gray {
  color: $gray;
}

.bkgd-gray {
  background-color: $gray;
}

/// Light Gray
/// @type Color
$gray-light:       #999;

.gray-light {
  color: $gray-light;
}

.bkgd-gray-light {
  background-color: $gray-light;
}

/// Lighter Gray
/// @type Color
$gray-lighter:     #bfbfbf;

.gray-lighter {
  color: $gray-lighter;
}

.bkgd-gray-lighter {
  background-color: $gray-lighter;
}

/// Dark Gray
/// @type Color
$gray-dark:        #666;

.gray-dark {
  color: $gray-dark;
}

.bkgd-gray-dark {
  background-color: $gray-dark;
}

/// Darker Gray
/// @type Color
$gray-darker:      #404040;

.gray-darker {
  color: $gray-darker;
}

.bkgd-gray-darker {
  background-color: $gray-darker;
}

/// Primary Theme Color
/// @type Color
$primary:          #00bce7;

.primary {
  color: $primary;
}

.bkgd-primary {
  background-color: $primary;
}

/// Secondary Theme Color
/// @type Color
$secondary:        #f00;

.secondary {
  color: $secondary;
}

.bkgd-secondary {
  background-color: $secondary;
}

/// Accent Theme Color
/// @type Color
$accent:           #ff0;

.accent {
  color: $accent;
}

.bkgd-accent {
  background-color: $accent;
}
